<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} - kernelbanger</title>
    {% else %}
        <title>kernelbanger</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{{ url_for('home')}}" class="navbar-link">Home</a>
            <a href="{{ url_for('about')}}" class="navbar-link">About</a>
            <a href="{{ url_for('projects')}}" class="navbar-link">Projects</a>
            <a href="{{ url_for('contact')}}" class="navbar-link">Contact</a>
        </div>
    </header>
    {% block content %}{% endblock content %}
    <footer>
        <div class="footerr">
            <a href="#" class="footerr-link">Sign Up</a>
            <a href="#" class="footerr-link">Sign In</a>
        </div>
    </footer>
</body>
</html>