{% extends 'base.html' %}
{% block content %}
    <section style="font-family: 'Press Start 2P', cursive;" class="hero">
        <div class="hero-content">
            <div class="intro-text"> 
                <h1>Hi, It's <a href="{{ url_for('about')}}">Ayush</a></h1>
                <h2>I'm a <span>Developer</span></h2>
                <p>I'm interested in technologies like web & cloud.</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/ayushh-bansal/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/ayusxhhb" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://x.com/iayushhb_twt" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}